@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";
body{
  background-color: black;
  scroll-behavior: smooth;
}

#eclypse{
 .prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

}
#Navbar{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#section5{

    font-family: "Outfit", sans-serif;

}

#heading{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}


